<div class="coffeeType">
  <div class="background">
    <img src="/Images/Startseite/smallCoffeeType.png" alt="Costa Rica Coffee" />
  </div>
  <p class="subtitle">Costa Rica</p>
  <p class="subtext">6,90€ - 26,90€</p>
  <img src="/Images/Startseite/whiteCoffeeBeans.svg" alt="Coffee Beans" />
  <img src="/Images/Startseite/whiteFrenchPress.svg" alt="French Press" />
  <img src="/Images/Startseite/whiteCoffeeShovel.svg" alt="Coffee Shovel" />
</div>