<div id="mobileMenu" class="mobileMenu">
  <button class="closeMobileMenu"></button>
  <h3><a class="link-DasCafe" href="/dasCafe/index.html">das Café</a></h3>
  <h3><a class="link-Herkunft" href="/dieHerkunft/index.html">Herkunft</a></h3>
  <h3> <a class="link-Shop" href="/Shop/index.html">Shop</a></h3>
  <h3>
    <a class="navigateToShoppingCart">Warenkorb</a><span
      class="shoppingCartCount"
    ></span>
  </h3>
</div>