:root {
  /* Colors */
  --color-white: white;
  --color-black: black;
  --color-grey: grey;
  --color-greyDark: #737373;
  --color-green: #006d7e;
  --color-brown: #d7be9d;
  --color-lightBlack: #1a1a1a;

  /* Text Styles */
  --h1-font-size: 6.4rem;
  --h2-font-size: 3.6rem;
  --h3-font-size: 3.2rem;
  --p-font-size: 1.4rem;
  --a-font-size: 1.4rem;
}
