.section_StartDieHerkunft {
  background-image: url("/Images/dieHerkunft/FEND-Coffee-beans-hand-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
}

.section_DerUrsprungVonRustica {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  & .text1 {
    @media (min-width: 768px) {
      margin: 5% 20%;
    }
  }

  & .content1 {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    & p {
      @media (min-width: 768px) {
        width: 48%;
      }
    }

    & .coffeePlant {
      align-self: flex-end;

      @media (min-width: 768px) {
        width: 48%;
        margin: 4rem;
      }
    }
  }

  & .content2 {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }

    & .text2 {
      @media (min-width: 768px) {
        width: 48%;
      }
    }

    & .coffeeWorker {
      align-self: flex-start;

      @media (min-width: 768px) {
        width: 48%;
        margin: 4rem;
      }
    }
  }
}
